<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2 ">About Bear</h1>
      <div class="row center">
        <h6>Maintenance and Janitorial Services</h6>
        <p>
          Partner of Canyon Pacific Management,
          <br>
          X year standing privately owned building management company in San Francisco, CA.
        </p>
        <p>
          Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.

  Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.

  Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.

  Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.

  Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

  Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
        </p>
      </div>

      <div class="section">
        <div class="row">
          <div class="row center">
            <div class=" center-align">
              <form>
                <div class="input-field  z-depth-1">
                  <input id="search" type="search" placeholder="search bear" required>
                  <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  <i class="material-icons">close</i>
                </div>
              </form>

            </div>
            <div class="row center">
              <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal darken-1">Get a Bear to help!</a>
            </div>
            <br><br>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax">
    <%= image_tag("background1.jpg", class: "responsive-img", alt: "Unsplashed background1") %>

    <!-- <img src="background1.jpg" alt="Unsplashed background1"> -->
  </div>

</div>


<div class="container">

  <div class="section">

    <div class="row">
      <div class="row">

        <div class="col s4">
          <p>
            <i class="material-icons">delete</i>
          </p>
          <p>
          Cupcake ipsum dolor sit amet. Tootsie roll I love I love bear claw cake cupcake marzipan apple pie bonbon. Macaroon icing macaroon chocolate cake I love gummi bears bear claw ice cream. Muffin sugar plum sugar plum. Lemon drops candy sesame snaps biscuit pie brownie icing. I love soufflé biscuit. Brownie candy brownie dessert icing brownie soufflé. Croissant cupcake dragée wafer I love jelly beans gummi bears wafer. Toffee macaroon I love. Sugar plum dessert I love muffin chupa chups gingerbread powder gingerbread.
          </p>
        </div>
        <div class="col s4">
          <p>
            <i class="material-icons">build</i>
          </p>
          <p>
          Icing macaroon bear claw bear claw sweet danish. Chocolate bar jujubes candy cookie sesame snaps candy gummi bears sesame snaps pudding. Cupcake cake tootsie roll cookie. Fruitcake biscuit I love cookie. Dragée cookie caramels bonbon carrot cake gummi bears ice cream. Dragée ice cream tart apple pie gummies wafer ice cream liquorice dessert. Jelly lollipop bonbon cheesecake lollipop macaroon toffee I love I love. Marshmallow soufflé tootsie roll jelly-o sesame snaps gummies sesame snaps halvah.
          </p>
        </div>
        <div class="col s4">
          <p>
            <i class="material-icons md-48">face</i>
          </p>
          <p>
            Magnetic infrastructures, platforms proactive, B2B reintermediate, design webservices compelling, "blogging deploy cross-platform infrastructures innovative 24/365." Whiteboard e-business enterprise end-to-end morph efficient; compelling transparent remix, utilize. Dessert croissant biscuit I love sugar plum chocolate cake candy. Chupa chups macaroon I love pastry muffin pudding I love. Brownie cotton candy lollipop oat cake dessert pudding. Chocolate bar caramels marzipan candy canes. I love marshmallow sesame snaps carrot cake jelly beans caramels I love.
          </p>
        </div>
      </div>
    </div>


    </div>

</div>



<!-- ///////// parallax 2 //////////////  -->


   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light">Get a Bear for all your Maintenance and Janitorial needs!</h5>
         </div>
       </div>
     </div>
     <div class="parallax">
       <%= image_tag("rubberducky.jpg", class: "responsive-img", alt: "Unsplashed rubberducky") %>

     </div>
   </div>







<div class="row">
  <div class="col s12 center-align ">
      <h5>About Bear</h5>



  </div>
</div>
