<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">

  <div class="container">
   <div class="section">
      <div class="row">
        <div class="row center">
          <div class=" center-align">
          <br><br>
          <h3 class="header center teal-text text-lighten-2 ">About Bear</h3>
            <h5>Maintenance and Janitorial Services</h5>
            <p>

              A trusted branch of Canyon Pacific Management, Dirty Bear Janitorial & Maintenance follows CPM’s values of paramount customer service, clear communication, and fixing any problem “the right way, not just the fast way”, for your peace of mind.
            </p>
            <p>

              Partner of Canyon Pacific Management, X year standing privately owned building management company in San Francisco, CA.
            </p>
<!--                  <form>
                    <div class="input-field  z-depth-1">
                      <input id="search" type="search" placeholder="search bear" required>
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                  </form> -->

                  <!-- <div class="divider">

                  </div> -->
                  <div class="row center">
                    <a href="/contact" id="download-button" class="btn-large waves-effect waves-light teal darken-1">Get a Bear to help!</a>
                  </div>

          </div>


        </div>
      </div>


    </div>




  </div>
  <div class="row">

  </div>
  </div>
  <div class="parallax">
    <%= image_tag("background1.jpg", class: "responsive-img", alt: "Unsplashed background1") %>
  </div>

</div>




<div class="container">

  <div class="section">

    <div class="row">
      <div class="row">

        <div class="col s4">
          <p>
            <i class="material-icons">delete</i>
          </p>
          <p>
            Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
          </p>
        </div>
        <div class="col s4">
          <p>
            <i class="material-icons">build</i>
          </p>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
          </p>
        </div>
        <div class="col s4">
          <p>
            <i class="material-icons md-48">face</i>
          </p>
          <p>
            Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
          </p>
        </div>
      </div>
    </div>


    </div>

</div>



<!-- ///////// parallax 2 //////////////  -->


   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light">In the heart of the Bay Area!</h5>
         </div>
       </div>
     </div>
     <div class="parallax">
       <%= image_tag("bay.jpg", class: "responsive-img", alt: "Unsplashed bay") %>

     </div>
   </div>
