<div class="row">
  <div class="col s12 center-align ">
      <h5>About Bear</h5>
      <h6>Maintenance and Janitorial Services</h6>
      <p>
        Partner of Canyon Pacific Management,
        <br>
        X year standing privately owned building management company in San Francisco, CA.
      </p>
  </div>
</div>
