   <div id="index-banner" class="parallax-container">
     <div class="section no-pad-bot">
       <div class="container">
         <br><br>
         <div class="row">
           <br>
         </div>
         <div class="center">

           <%= image_tag("bigbear.png", size: "300x320", alt: "bear") %>
         </div>

         <div class="row center">
           <h5 class="header col s12 light">A friendly service for the community!</h5>
         </div>
         <div class="row center">
           <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light green lighten-2">Get a Bear to help!</a>
         </div>
         <br><br>

       </div>
     </div>

     <div class="parallax">
       <%= image_tag("woodbark.jpg", class: "responsive-img", alt: "Unsplashed background3") %>

       <!-- <img src="background1.jpg" alt="Unsplashed background1"> -->
     </div>

   </div>

<!-- ////// parallax start ////  -->


   <div class="container">
     <div class="section">

       <!--   Icon Section   -->
       <div class="row">
         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
             <h5 class="center">Fast Service!</h5>

             <p class="light">
               We keep our technology up to date based on our members needs.
               Managing and delegating tasks as we literally do all the heavy lifting.
               Our program is built to keep every task on track.
             </p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><i class="material-icons">group</i></h2>
             <h5 class="center">Community Oriented</h5>

             <p class="light">
               More likely than not, you’re calling us because there’s an issue that needs immediate attention.
               Dirty Bear strives to provide fast service with a smile. You can trust us to fix it without contributing to the headache.
             </p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
             <h5 class="center">Long List of Services!</h5>

             <p class="light">
               We are passionate about our city, and the spaces and people in it.
               We truly value diversity and community, and take pride in helping to keep our spaces clean and functioning.
               Our service people strive to provide excellent solutions in the friendliest manner.
             </p>
           </div>
         </div>
       </div>

     </div>
   </div>

   <!-- /////// parallax 1 /////  -->

   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light">Friendly neighborhood bears.</h5>
         </div>
       </div>
     </div>


     <div class="parallax">


       <%= image_tag("background3.jpg", class: "responsive-img", alt: "Unsplashed background2") %>

       <!-- <img src="background2.jpg" alt="Unsplashed background2"> -->
     </div>

   </div>

   <div class="container">
     <div class="section">

       <div class="row">
         <div class="col s12 center">
           <h3><i class="mdi-content-send brown-text"></i></h3>
           <h4>Contact Us</h4>
           <p class="left-align light">
             We are located in downtown San Francisco.
           </p>
           <p class="left-align light">
             phone: (415) ###- ####
           </p>
         </div>
       </div>

     </div>
   </div>


<!-- ///////// parallax 2 //////////////  -->


   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light">Get a Bear for all your Maintenance and Janitorial needs!</h5>
         </div>
       </div>
     </div>
     <div class="parallax">
       <%= image_tag("tools.jpg", class: "responsive-img", alt: "Unsplashed tools") %>

     </div>
   </div>
