
<div class="row">
  <br>
</div>

<div class="row">
  <div class="col s12 center-align ">
      <h4>Dirty Bear!</h4>
      <h5>Janitorial Services</h5>
  </div>
</div>

<br />
<div class="row center">
  <a class="btn-large waves-effect waves-light orange" href="/components" id="download-button"> Get a Bear to help! </a>
</div>
<br />

<div class="row">
  <div class="row center">
    <div class=" center-align">
      <form>
        <div class="input-field">
          <input id="search" type="search" placeholder="search bear" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

    </div>
  </div>

</div>


<div class="container">


  <div class="row">

    <div class="col s4">
      <p>
        <i class="material-icons">delete</i>
      </p>
      Janitorial Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons">build</i>
      </p>
      Maintenance Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons md-48">face</i>
      </p>
      Friendly and Fast
    </div>

  </div>

  <div class="row">

    <div class="col s4">
      <p>
        <i class="material-icons">delete</i>
      </p>
      Janitorial Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons">build</i>
      </p>
      Maintenance Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons md-48">face</i>
      </p>
      Friendly and Fast
    </div>
  </div>

    <br>
  <br>


  <div class="row">
  <div class="col s12">
    <p>
    Cupcake ipsum dolor sit amet. Tootsie roll I love I love bear claw cake cupcake marzipan apple pie bonbon. Macaroon icing macaroon chocolate cake I love gummi bears bear claw ice cream. Muffin sugar plum sugar plum. Lemon drops candy sesame snaps biscuit pie brownie icing. I love soufflé biscuit. Brownie candy brownie dessert icing brownie soufflé. Croissant cupcake dragée wafer I love jelly beans gummi bears wafer. Toffee macaroon I love. Sugar plum dessert I love muffin chupa chups gingerbread powder gingerbread. Dessert croissant biscuit I love sugar plum chocolate cake candy. Chupa chups macaroon I love pastry muffin pudding I love.
    </p>
    <p>

    Icing macaroon bear claw bear claw sweet danish. Chocolate bar jujubes candy cookie sesame snaps candy gummi bears sesame snaps pudding. Cupcake cake tootsie roll cookie. Fruitcake biscuit I love cookie. Dragée cookie caramels bonbon carrot cake gummi bears ice cream. Dragée ice cream tart apple pie gummies wafer ice cream liquorice dessert. Jelly lollipop bonbon cheesecake lollipop macaroon toffee I love I love. Marshmallow soufflé tootsie roll jelly-o sesame snaps gummies sesame snaps halvah. Brownie cotton candy lollipop oat cake dessert pudding. Chocolate bar caramels marzipan candy canes. I love marshmallow sesame snaps carrot cake jelly beans caramels I love. Carrot cake gummies I love cake I love. Cookie chocolate bar gummi bears I love sweet gummi bears marzipan I love. Chocolate bar fruitcake jelly beans.

    </p>
    <p>
      Magnetic infrastructures, platforms proactive, B2B reintermediate, design webservices compelling, "blogging deploy cross-platform infrastructures innovative 24/365." Whiteboard e-business enterprise end-to-end morph efficient; compelling transparent remix, utilize.
    </p>
    <p>
Lemon drops gummi bears fruitcake gingerbread chocolate bar gummi bears candy canes tiramisu pie. Toffee carrot cake dragée toffee dragée. I love sweet roll sweet roll gummies. Pastry cake soufflé jelly beans. Cupcake jujubes chocolate bonbon cake. Carrot cake pastry chupa chups chocolate bar. Tart topping caramels cupcake. Caramels ice cream danish chocolate bar cookie cake. Topping tiramisu pudding bonbon. Sweet caramels bear claw icing apple pie muffin fruitcake caramels chupa chups. Biscuit jelly beans I love muffin soufflé halvah chocolate bar. Chocolate jelly beans cookie brownie gingerbread.
    </p>
    <p>

      Biscuit oat cake jelly carrot cake I love tart lemon drops. I love chupa chups toffee chupa chups macaroon pastry sweet cake. Sweet muffin chupa chups jelly beans bonbon I love. Wafer lemon drops pie gummies. I love jujubes candy I love cookie cheesecake. Gummi bears powder carrot cake sweet. Carrot cake I love danish topping cake tiramisu I love carrot cake. Jelly-o I love danish. Fruitcake brownie I love chupa chups jujubes sweet. Lemon drops bonbon chocolate bar cookie. Gummies cupcake croissant gingerbread marzipan. Gummi bears bear claw candy gummi bears tart caramels tart donut powder. Chocolate bar lemon drops wafer sweet roll jujubes. Toffee cotton candy soufflé ice cream danish cupcake donut dragée.
       </p>

       <p>
         Cotton candy ice cream macaroon candy I love. Fruitcake I love ice cream jelly beans muffin apple pie. Sugar plum gingerbread candy canes liquorice oat cake sweet. Soufflé dragée sweet. Wafer sesame snaps chupa chups jelly halvah liquorice croissant cotton candy I love. Donut tart apple pie jelly beans dragée chocolate. Caramels halvah gummies tart jelly beans. Macaroon apple pie jelly beans. Jelly macaroon tart apple pie sugar plum brownie apple pie. Tootsie roll jujubes cookie jelly marshmallow cotton candy cheesecake macaroon. Topping topping jelly beans pastry bonbon. Sweet jujubes I love danish halvah.
       </p>


    </div>

  </div>



</div>
