
<div class="row">
  <br>
</div>

<div class="row">
  <div class="col s12 center-align ">
      <h4>Dirty Bear!</h4>
      <h5>Janitorial Services</h5>
  </div>
</div>

<br />
<div class="row center">
  <a class="btn-large waves-effect waves-light orange" href="/components" id="download-button"> Get a Bear to help! </a>
</div>
<br />


<div class="container">


  <div class="row">

    <div class="col s4">
      <p>
        <i class="material-icons">delete</i>
      </p>
      Janitorial Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons">build</i>
      </p>
      Maintenance Services
    </div>
    <div class="col s4">
      <p>
        <i class="material-icons md-48">face</i>
      </p>
      Friendly and Fast
    </div>

  </div>



</div>
