<!DOCTYPE html>
<html>
  <head>
    <title>Bear Janitorial + Maintenance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="navbar-fixed">
      <nav class=" green accent-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo"> <img src="http://www.clker.com/cliparts/O/1/l/1/I/3/black-bear.svg" width="auto" height="70px" /> </a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/about">About</a></li>
            <li><a href="/janitorial">Janitorial</a></li>
            <li><a href="/maintenance">Maintenance</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="/about">About</a></li>
            <li><a href="/janitorial">Janitorial</a></li>

            <li><a href="/maintenance">Maintenance</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </br>
    </div>

    <footer class="page-footer    green accent-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Bear Maintenance</h5>
            <p class="grey-text text-lighten-4">Is a proud partner of <a class="grey-text text-lighten-3" href="http://www.canyonpacific.com/"> Canyon Pacific Management</a> in the heart of San Francisco, California.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">C P M</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://www.canyonpacific.com/"> Canyon Pacific Management</a></li>
              <li><a class="grey-text text-lighten-3" href="https://app.pilera.com/index.php/login/canyonp"> Canyon Connect || Member Login </a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.google.com/maps/d/u/0/viewer?mid=192UnN8NOVUNfuXberhu3Y-rerPw&hl=en_US&ll=37.78712225275215%2C-122.40756350000004&z=15"> San Francisco</a></li>
              <li><a class="grey-text text-lighten-3" href="#!"> Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright green accent-4">
        <div class="container">© 2017 Bear Maintenance <a class="grey-text text-lighten-4 right" href="http://www.canyonpacific.com/"> CPM</a>
        </div>
      </div>
    </footer>

  </body>
</html>
